<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="container">
	<div class="well">
		Hello Bootstrap!!
	</div>
</div>
<div id="test">
	123
</div>
<div id="app">
	<span v-text="message"></span>
	${message}
	<app></app>
	<my-component></my-component>
</div>