<template>
   <div>Hello VueJS!
   121{{message1}}
   <a href="javascript:;" @click="method1">click</a>
   <span v-text="message"></span>
   </div>  
</template>
<script>
	export default{
		name:"app",
		props:['message'],
		data(){
			return{
				message1:'22222'
			}
		},
		methods:{
			method1:()=>{
				console.log('method1');
			}
		}
	}
</script>